<h1>Authorship agreement</h1>
<blockquote>
<p>
	1. None of the material in the manuscript is included in another manuscript, has been published previously, or is currently under consideration for publication elsewhere. 
</p><p><br>
	2. All authors listed on the manuscript have contributed significantly to the conception and design of experimental studies or the analysis and interpretation of data. 
</p><p><br>
	3. All authors understand the contents of the manuscript, and have approved its submission.
</p><p><br>
	4. All authors must disclose any commercial association that might pose a conflict of interest in connection with the manuscript. Research or project support should be acknowledged.
</p><p><br>
	5. When a manuscript is accepted for publication, copyright ownership is transferred to the Oral Biology Research Institute.
</p>
</blockquote>

<h4>
	<div align="center">
		<%= link_to "I don't agree", papers_path %> |
		<%= link_to 'I agree', new_paper_path %>
	</div>
</h4>