<h3> Procedure </h3>
<h4>
Editing -> submitted -> On chief editor -> In Peer review -> On chief Examiner -> Result
</h4>

</p>
Your paper : "<%= @title %>" are in the "<%= @status %>".
</p>

<br><br><br>
<p>
<b> You can see more information on <%= link_to "OBRI", Emailer::HOMEPAGE %> </b>
</p>
<strong> <%= link_to "From Oral Biology Research Institute", Emailer::HOMEPAGE %> </strong>
