<h1>Manage users</h1>

	<ul>
	<li><%= link_to 'All users & change role', all_user_roles_path %></li>
	<li><%= link_to 'View members of role group', manage_role_roles_path %></li>
	<li><%= link_to 'Assign examiners to paper', assignment_roles_path %></li>	
	</ul>